<footer class="row between padding border-top">
    <p> &copy; 2024, yChurch </p>
    <span>
        <a href="/about/ychurch"  class="link-sm">About Us</a>
        <a href="/about/ads" class="link-sm">Advertise</a>
        <a href="/about/terms" class="link-sm">Terms</a>
        <a href="/about/privacy" class="link-sm">Privacy</a>
    </span>
</footer>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/animation.js"></script>
