.card {
    min-width: 290px;
    min-height: 192px;
    display: flex;
    flex-direction: column;

    & > .section {
        /* flex: 2; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;

        & > .large {
            font-size: 3rem;
        }
        & > .info {
            display: inline-block;
            padding: 5px;
            border-radius:23px;
            background-color: var(--color-4a);
            min-width: 86px;
            min-height: 23px;
            font-weight: bold;
            font-size: large;
            /* color: var(--color-4a); */
        }
    }
    & > .footer {
        margin-top: auto;
    }
}

.wide {
    grid-column: 1/3;
}

.wider {
    grid-column: 1/3;
    grid-row: 1/3;
}

.tall {
    grid-row: 1/3;
}

.large {
    font-size: large;
}

/* GRID ROW AND GRID COLUMN PLACEMENTS 
- gc = grid-column
- gr = grid-colum
-first num after gc/gr = start
-second num after gc/gr - end
*/

.gc24gr13 {
    grid-column: 2/4;
    grid-row: 1/3;
}

.gr13 {
    grid-row: 1/3;
}

.gc13 {
    grid-column: 1/3;
}


/* ENDS*/

.bbottom {
    border-bottom: thin solid var(--secondary);
}

.full {
    min-height: inherit;
    min-height: 228px;
}

.center {
    display: grid;
    place-items: center;
    min-height: 400px;
}