.row {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    align-content: flex-start;
    gap: 24px;
    & > * {
        margin:0 ;
        /* flex: 1; */
    }
}

.max {
    height: 88.98vh;
    overflow-x: auto;
}

.grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 12px;

    & > * {
        margin:0 ;
    }
    
}

