
.flexbox, .flex {
    display: flex;
    flex-direction: column;
    height: 89.95vh;
    justify-content: space-between;
}

.right-border {
    border-right: thin solid var(--secondary);
}

.capitalize {
    text-transform: capitalize;
}

.max {
    max-height: 80vh;
    overflow-x: auto;
}

.row {
    gap: 2px;
}

.modal {
    width: 478px;
    overflow: hidden;
}

.nav {
    max-height: 268px;
    overflow-x: auto;
}

.footer {
    margin-top: auto;
}

.info {
    color: var(--secondary);
}

.vborder {
    border-right: thin solid var(--secondary);
    border-left: thin solid var(--secondary);
}