.main {
    width: 100%;
    height: 89vh;
    /* display: grid; */
    /* place-items: center; */
    /* place-content: top; */
}

.container {
    height: 88vh;
    /* width: 468px; */
}

.headline {
    line-height: .45;
}

.label {
    text-wrap: wrap;
}
