.sidebar {
    height: 89.5vh;
    background-color: var(--primary-container);
    overflow-x: auto;
    border: solid red;
}

.dialog {
    width: 487px;
}

.flexbox {
    flex-wrap: wrap;
    & > * {
        flex: 2;
    }
}

.link {
    min-width: 100px;
    &:hover {
        background-color: var(--background);
    }
}