.gridbox {
    display: grid;
    place-content: center;
    place-items: center;
}

.fullbleed {
    position: relative;
    margin: 0;
    width: 99.98vw;
    height: 99.98vh;
    background: var(--blue-gradient);
    display: grid;
    grid-template-columns: 820px 400px;
    place-items: center;

    @media screen and (max-width: 820px) {
        grid-template-columns: unset;
        
        & > :first-child {
            display: none;
        }
    }

}

.block {
    display: flex;
    align-items: center;
    gap: 12px;

}

.media {
    width: 178px;
    min-height: 200px;
}

.flex {
    & > :nth-child(2){
        flex: 2;
    }
}