<header class="header small-padding row border-bottom">
    <span class="logo"><img src="/images/sample.png"></span>
    <span class="column max">
        <h4>Name of the Church</h4>
        <small class="small bold muted">Branch Number</small>
    </span>
    <span class="icon"><img src="/icons/loading.svg"></span>

</header>
<section class="drop border column" id="drop">
    <a href="/app.js" class="tab-link">
        <span class="tab-icon">icon</span>
        Manage Account
    </a>
    <a href="/app.js" class="tab-link">
        <span class="tab-icon">icon</span>
        Settings
    </a>
</section>
<script type="module" src="./header.js"></script>
