<header class="header small-padding row border-bottom" id="header">
    <span class="logo"><img src="/images/sample.png"></span>
    <span class="column max">
        <h4>Mount Sinai United Methodist Church</h4>
        <small class="small bold muted">Sinkor Branch</small>
    </span>
    <span class="icon"><img src="/icons/loading.svg"></span>
</header>
<section class="drop border column" id="drop">
    <a href="@" class="tab-link small-margin">
        <span class="tab-icon"></span>
        Manage Account
    </a>
    <hr class="divider no-margin no-padding margin-top margin-bottom">
    <a href="@" class="tab-link small-margin">
        <span class="tab-icon"></span>
        Settings
    </a>
</section>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/pane/header.js"></script>