<div class="pane-tabs column max small-padding">

    <a href="@" class="tab-link ">
        <span class="tab-icon"></span>
        Membership
    </a>

    <a href="@" class="tab-link">
        <span class="tab-icon"></span>
        Finance
    </a>
    <a href="@" class="tab-link">
        <span class="tab-icon"></span>
        Reports
    </a>
    <a href="@" class="tab-link">
        <span class="tab-icon"></span>
        Worship Services
    </a>
    <a href="@" class="tab-link">
        <span class="tab-icon"></span>
        Events
    </a>

</div>