<%- include("./partial/head") %>
  <body>
    <%- include("./partial/navbar") %>
    <menu class="row top-align">
      <%- include("./partial/pane") %>
      <div class="max border">full</div>
      <div class="pane border-left">sidebar</div>
    </menu>
  </body>
</html>
