<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="relative">
    <nav class="fixed-top">nav</nav>
    <section class="fixed-right">fixed right</section>
    <aside class="fixed-left">fixed left</aside>
    <main class="fixed-center long">main</main>
  </body>
</html>
