<%- include("./partial/head") %>

    <body class="column">
        <header class="row padding align border-bottom">
            <span class="max">
                <a href="/" class="logo text">yChurch</a>
            </span>
            <span class="row linklist">
                <a href="/login">Login</a>
                <a href="/signup">Register</a>
                <a href="/about">About</a>
                <a href="/hep">Help</a>
            </span>
        </header>
        <main class="max column center">
            <section class="box mini border small-round padding">
                <h2 class="margin-bottom">Log in</h2>

                <small class="padding-bottom">
                    To log in, fill in the form with the email and password associated with your account.
                </small>

                <form action="" method="post" class="border-top margin-top">

                    <label for="email" class="label">Fill in the form</label>
                    <input type="email" name="email" id="email" placeholder="Enter Email" class="input">

                    <div class="space"></div>
                    <input type="password" name="password" id="password" placeholder="Enter password" class="input">
                    <a href="account/find">Forget your password?</a>

                    <button type="submit" class="button">Log in</button>

                </form>
                <section class="padding-top">
                    Don't have an account? <a href="/signup">Create new account.</a>
                </section>

            </section>
        </main>
        <footer class="padding center-align border-top">
            <span class="linklist">
                <a href="/about/ychurch">About Us</a>
                <a href="/about/ads">Advertise</a>
                <a href="/privacy/term">Terms</a>
                <a href="/privacy">Privacy</a>
            </span>
            <p>a Timothy T. Joe production</p>
            <p>&copy; 2024</p>
        </footer>
    </body>

    </html>