<%- include("./partial/head") %>

    <body class="column">
        <header class="row padding border-bottom">
            <a href="/" class="logo">yChurch</a>
            <a href="/supports" class="move-right bold"> Feedback and Help </a>
        </header>
        <main class="max center">
            <form action="/login" method="post" class="box margin-bottom" autocomplete="off">
                <h2 class="huge align-center margin-bottom">Log in</h2>

                    <label for="email" class="label">What's your email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Email" class="input" required>
                    <span class="space small"></span>
                    
                    <label for="password" class="label">Password</label>
                    <section class="row no-gap">
                        <input type="password" name="password" id="password" placeholder="Enter Password" class="input no-right" required>
                        <button type="button" class="flat" id="toggler">X</button>
                    </section>
                    <a href="account/find">Forget your password?</a>

                    <span class="space smal"></span>
                    <button type="submit" >Log in</button>

                </form>
                <section class="padding-top">
                    Don't have an account? <a href="/signup">Create new account.</a>
                </section>

            </section>
        </main>
        <footer class="row between padding border-top">
            <p> &copy; 2024, yChurch </p>
            <span>
                <a href="/about/ychurch"  class="link-sm">About Us</a>
                <a href="/about/ads" class="link-sm">Advertise</a>
                <a href="/privacy/term" class="link-sm">Terms</a>
                <a href="/privacy" class="link-sm">Privacy</a>
            </span>
        </footer>
    </body>

    </html>