<%- include("./partial/head") %>

    <body class="column">
        <header class="row between border-bottom padding-right padding-left">
                <a href="/" class="logo">yChurch</a>
            <span class="row">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/about">About</a>
                <a href="/hep">Help</a>
            </span>
        </header>
        <main class="max center">
            <section class="box border">
                <h2 class="margin-bottom large">Account Registration</h2>

                <hr class="divider">
                <span class="space"></span>

                <form action="/register" method="post" class="">

                    <label for="fullname" class="label">Full Name</label>
                    <input type="text" name="fullname" id="fullname" placeholder="Enter Full name" required
                    class="input">
                    
                    <label for="contact" class="label">Email</label>
                    <input type="email" name="contact" id="contact" placeholder="Enter Email" required class="input">

                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Choose Password" class="input">
                    
                    <span class="space"></span>
                    <button type="submit" class="large">Register</button>
                </form>
            </section>
        </main>
        <footer class="row between padding border-top">
            <p>&copy; 2024, yChurch</p>
            <span>
                <a href="/about/ychurch"  class="link-sm">About Us</a>
                <a href="/about/ads" class="link-sm">Advertise</a>
                <a href="/privacy/term" class="link-sm">Terms</a>
                <a href="/privacy" class="link-sm">Privacy</a>
            </span>
        </footer>
        <script type="module" src="/javascripts/register.js"></script>
    </body>

    </html>