<%- include("./partial/head") %>

    <body class="column">
        <header class="row padding align border-bottom">
            <span class="max">
                <a href="/" class="logo text">yChurch</a>
            </span>
            <span class="row linklist">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/about">About</a>
                <a href="/hep">Help</a>
            </span>
        </header>
        <main class="max column center">
            <section class="box mini border small-round padding">
                <h2 class="margin-bottom">Account Registration</h2>

                <small>
                    To create an account, add your full name, active email, church Identification number (CIN), and
                    choose a password.
                </small>

                <form action="" method="post" class="border-top margin-top">

                    <label for="fullname" class="label">Fill in the form</label>
                    <input type="text" name="fullname" id="fullname" placeholder="Enter Full name" class="input">

                    <div class="space"></div>
                    <input type="email" name="email" id="email" placeholder="Enter Email" class="input">

                    <div class="space"></div>
                    <input type="text" name="CIN" id="CIN" placeholder="Church Identification Number" class="input">
                    <a href="register/church">Don't have CIN?</a>

                    <div class="space"></div>
                    <input type="password" name="password" id="password" placeholder="Choose new password" class="input">

                    <button type="submit" class="button">Register</button>
                </form>
            </section>
        </main>
        <footer class="padding center-align border-top">
            <span class="linklist">
                <a href="/about/ychurch">About Us</a>
                <a href="/about/ads">Advertise</a>
                <a href="/privacy/term">Terms</a>
                <a href="/privacy">Privacy</a>
            </span>
            <p>a Timothy T. Joe production</p>
            <p>&copy; 2024</p>
        </footer>
    </body>

    </html>