<%- include("./partial/head") %>

    <body class="column">
        <%- include("./auth/head") %>
        <main id="main" class="max center">
            <form action="/signup" method="post" class="box" autocomplete="off">
                <h2 class="huge align-center margin-bottom">Sign up</h2>

                <label for="fullname" class="label">What's your full name?</label>
                <input type="text" name="fullname" id="fullname" placeholder="Enter Full Name" required class="input" minlength="5" required autofocus tabindex="1">
                <span class="space small"></span>

                <input type="email" name="email" id="email" placeholder="Enter Email" required class="input" minlength="5" required tabindex="2">
                <span class="space small"></span>

                <section class="row no-gap">
                    <input type="text" name="code" id="code" placeholder="Enter 6-digit code" class="input max no-right" required minlength="6" maxlength="6" tabindex="3">
                    <button type="button" class="flat" id="send" tabindex="4"> Send Code </button>
                </section>

                <small class="muted hide" id="hint">Click send code to recieve a 6-digit verification code.</small>

                <span class="space small"></span>

                <section class="row no-gap">
                    <input type="password" name="password" id="password" placeholder="Choose Password" class="input no-right" required tabindex="5">
                    <button type="button" class="flat" id="toggler" tabindex="6">
                    </button>
                </section>

                <span class="muted small-line hide" id="validator"> 
                    <small class="" id="length"> Password must be 8-20 characters </small>. 
                    <small class="" id="chars"> Have letters, numbers and special characters </small>
                </span>
                
                <span class="space small"></span>
                <label class="checkbox small-line"> 
                    I have read and understood the <a href="about/terms" class="small">Terms of Use </a>, and I agree to them.
                    <input type="checkbox">
                    <span class="checkmark" tabindex="7"></span>
                </label>
                <span class="space"></span>

                <button type="submit" class="large" id="submit" disabled tabindex="8">Register Now</button>
            </form>
            <section class="center-align margin-bottom">Already have an account? <a href="/login">Log in</a></section>
        </main>
        <%- include("./auth/foot") %>
        <script type="module" src="/javascripts/signup.js"></script>
    </body>
    </html>