/* PANE +============================================= */
.pane {
    width: 300px;
    max-height: inherit;
    overflow: hidden;
    overflow-y: auto;
}

.pane.flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    padding: 20px 8px 26px 8px;
}

/* FORM ELEMENTS +==================================== */
.label {
    display: flex;
    font-weight: 600;
    font-size: 1fr;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
    margin-top: var(--spacing-sm);
    cursor: pointer;
}

.input {
    border-radius: var(--tiny-round);
    width: 100%;
    background-color: var(--noir);
    color: var(--midnight);
    line-height: 100%;
    outline: none;
    font: 16px;
    caret-color: var(--crimson);
    width: 100%;
    padding: 12px;
    border: 1px solid var(--ink);
}

.button {
    border-radius: 4px;
    border: none;
    min-width: 120px;
    min-height: 46px;
    line-height: 22px;
    font-weight: 700;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 21px;
    color: var(--white);
    background-color: var(--crimson);
}

/* A ELEMENT/ANCHOR TAG +============================= */

.linklist>a {
    padding: var(--spacing-sm);
    font-weight: 600;
}

.link {
    /* color: rgba(22, 24, 35, 0.75); */
    color: var(--blue-light);
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
}

.link.button {
    display: inline;
    color: var(--white);
}

/* LOGO AND IMAGES +================================================= */
.logo {
    color: rgba(22, 24, 35, 0.75);
    font-weight: bold;
}

.logo:hover {
    color: var(--crimson);
}

.logo.text {
    font-size: 38px;
}

img.foreground {
    width: 500px;
    height: 300px;
    border: 24px solid rgba(188, 204, 211, 0.164);
    margin-right: 34px;
    outline: unset;
    border-radius: 24px;
}