/* 
card
toaster
articles
media block
toolbar
chip
menu
*/

/* Snackbar / Toaster */
.snackbar {
    position: fixed;
    bottom: 1rem;
    padding: var(--spacing-md);
    background-color: var(--midnight);
    color: var(--snow);
    border-radius: var(--round-md);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    z-index: 1000;
  }
  
  .snackbar.show {
    opacity: 1;
    visibility: visible;
  }
  
  .snackbar.left {
    left: 1rem;
    transform: translateX(-100%);
  }
  
  .snackbar.right {
    right: 1rem;
    transform: translateX(100%);
  }
  
  .snackbar.show.left {
    transform: translateX(0);
  }
  
  .snackbar.show.right {
    transform: translateX(0);
  }
  
  /* Snackbar auto-disappear after 4 seconds */
  .snackbar.show {
    animation: hideSnackbar 4s forwards;
  }
  
  @keyframes hideSnackbar {
    0%, 90% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  /* MENU / SIDEBAR */
  
.pane {
    width: 278px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu .item {
    text-transform: capitalize;
    padding: var(--spacing-sm);
    font-size: var(--large);
    color: var(--charcoal);
    border-radius: var(--round-md);
    font-weight: 700;
    display: flex;
  
  }
  
  .menu .item:hover, .menu .item.active {
    background-color: var(--ash);
    color: var(--crimson);
  }


  /* details / summary */
  .details {
    border-radius: var(--round-md);
    background-color: var(--ash);
  }
  
  .details img {
    width: 60px;
    height: 60px;
    border-radius: var(--round-md);
  }

  /* AVATAR / BAGDE */

  .avatar {
    display: flex;
    overflow: hidden;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: center center / cover no-repeat;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* CARDS */
  .card {
    overflow: hidden;
  }

  .card > img {
    width: 270px;
    height: 250px;
  }

  /* navigation / top menu */
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    width: calc(100% - 0px);
  }
    

  .logo {
    color: var(--midnight);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo:hover {
    color: var(--crimson);
  }

  /* Box classes */
.box {
  width: 363px;
  margin: var(--spacing-md) auto;
  padding: var(--spacing-md);
  border-radius: var(--round-md);
}

.box.small {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  max-height: 378px;

}

.box.medium {
  width: calc(150% - 3rem);
  height: calc(150% - 3rem);
}

.box-large {
  min-width: 420px !important;
}

.box.huge {
  width: calc(250% - 5rem);
  height: calc(250% - 5rem);
}


/* Default button styles */

button,.button {
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--round-sm);
  font-size: var(--small);
  font-weight: 700;
  cursor: pointer;
  background-color: var(--crimson);
  color: var(--snow);
  transition: transform 0.3s ease;
}

button:focus, .button:focus {
  transform: scale(.98);
}

button.flat {
  color: var(--midnight);
  font-weight: 600;
  margin: 0px;
  background-color: rgba(22, 24, 35, 0.06);
  border-color: rgba(22, 24, 35, 0.12);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0;
  box-sizing: content-box;
}

button.large {
    min-width: 120px;
    min-height: 46px;
    width: 100%;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
    padding: 6px 8px;
    line-height: 22px;
    text-align: center;
    font-size: unset;
}

/* Button transformations */
.outlined{
  background-color: var(--snow);
  color: var(--crimson);
  border: 1px solid var(--crimson);
}

.mini  {
  min-width: 110px;
  height: 36px;
  padding: var(--spacing-sm);
  font-size: var(--tiny);
  text-align: center;
}

.secondary {
  background-color: var(--slate);
  color: var(--snow);
}

.warning{
  background-color: var(--red);
  color: var(--snow);
}

/* Disabled button styles */
.disabled, 
button:disabled{
  background-color: var(--light-gray);
  color: var(--misty);
  cursor: not-allowed;
}

button.flat:disabled {
  color: var(--gray);
}


/* Button background color variations */
.ice {
  background-color: var(--ice);
  color: var(--midnight);
}

.sky {
  background-color: var(--sky);
  color: var(--midnight);
}

.sun {
  background-color: var(--sun);
  color: var(--midnight);
}

.aqua {
  background-color: var(--aqua);
  color: var(--midnight);
}

.azure {
  background-color: var(--azure);
  color: var(--snow);
}

.blue {
  background-color: var(--blue);
  color: var(--snow);
}

.steel {
  background-color: var(--steel);
  color: var(--snow);
}

.red {
  background-color: var(--red);
  color: var(--snow);
}

.royal {
  background-color: var(--royal);
  color: var(--snow);
}

.dark {
  background-color: var(--dark);
  color: var(--snow);
}
.crimson {
  background-color: var(--crimson) !important;
  color: var(--snow) !important;
}

/* Button text color variations */
.pearl {
  color: var(--pearl);
}

.frosty {
  color: var(--frosty);
}

.misty {
  color: var(--misty);
}

.coal {
  color: var(--coal);
}

.midnight {
  color: var(--midnight);
}

.snow {
  color: var(--snow);
}




/* Input */
.input {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--light-gray);
  font-size: var(--small);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--noir);
  color: var(--midnight);
  caret-color: var(--crimson);
}

.input:focus {
  outline: none;
}

.radio {
  width:30px;
  height: 30px;
}

/* Select */
.select {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--light-gray);
  font-size: var(--small);
  color: var(--midnight);
  background-color: var(--noir);

}

.select:focus {
  outline: none;
}




/* year options */
.tiktok-x376y3-DivOption {
  height: 34px;
  overflow: auto;
  font-size: 16px;
  padding: 0px 12px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(22, 24, 35);
  background: unset;
}