
/* FLEXBOX */

.row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.max {
    flex: 2;
}

.full {
    min-height: 100%;
    height: inherit;
}

.align {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.column.center {
    display: grid;
    place-items: center;
}



.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.evenly {
    justify-content: space-evenly;
}

.move-down {
    margin-top: auto;
}

.move-up {
    margin-bottom: auto;
}

.move-right {
    margin-left: auto;
}
.move-left {
    margin-right: auto;
}

.align-top {
    align-self: flex-start;
}

/* GRID CONTAINER */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-sm);
}
