.bold {
    font-weight: bolder;
}
.no-bold {
    font-weight: normal !important;
}

.large,
.larger,
.huge {
    font-size: 1.5rem;
    unicode-bidi: isolate;
    display: block;
    margin: 0.83em 0px;
}

.huge {
    font-weight: bold;
    font-size: 3rem;
}

.medium {
    font-size: 18px;
}

.large {
    font-size: 1.3rem;
}
.larger {
    font-size: 2rem;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.muted {
    color: var(--shadow);
}

.success {
    color: var(--green);
}

.warning {
    color: var(--yellow);
}

.black {
    color: var(--black);
}

.error {
    color: var(--red);
}

.crimson {
    color: var(--crimson);
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.no-line {
    line-height: unset;
}

.small-line {
    line-height: 1.25;
}
