

/* Set core root defaults */
html {
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape */
    height: 100%;
    font-size: 14px;

}

/* Set core body defaults */
body {
    line-height: 1.5;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: inherit;
    color: var(--midnight);
    position: relative;
}

/* Box sizing reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    text-wrap: wrap;
    word-break: break;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style-position: inside;
}

/* Remove default padding */
button,
input,
textarea {
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
}

/* A elements that don't have a class get default styles */
a {
    display: inline-block;
    text-decoration: none;
    color: var(--blue-light);
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions, and smooth scroll */
* {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--smoke);
    border-radius: 17px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--shadow);
}