.header {
    padding: 12px;
    background-color: gainsboro;
}

.nav, .aside, .detail {
    background-color: rgba(206, 206, 206, 0.808);
    position: sticky;
    height: inherit;
}

.aside, .detail {
    overflow-y: auto;
}

.container {
    height: 89.2vh;
    overflow: hidden;
    position: relative;
}

.wrapper {
    width: 99.98vw;
    height: 99.98vh;
    overflow: hidden;
}


.content {
    height: 120vh;
    overflow-y: auto;
}
.content > section, .aside > section, .detail > section  {
    /* min-height: 1220px; */
    /* background-color: green; */
}