<%- include("./head") %>
<nav class="row small-padding border-bottom">
    <span class="logo">yChurch</span>
    <section class="move-right row">
        <button class="avatar">
            <img src="/icons/loading.svg" alt="">
        </button>
        <button class="avatar">
            <img src="/icons/spinner.svg" alt="">
        </button>
        <button class="avatar">
            <img src="/images/sample.png" alt="">
        </button>
    </section>
</nav>